<body>
  <app-header></app-header>
    <section class="profile-page-container">
<!--      <section class="preview-appearance">
        <app-gameboard [gameboardColors]="gameboardColors"></app-gameboard>
      </section>
      <section class="appearance-settings">
        <app-appearance-settings (colors)="applyColors($event)" [selectedColors]="colors"></app-appearance-settings>
      </section>-->
      <section class="avatar-container">
        <app-avatar [modify]="true"></app-avatar>
      </section>
    </section>
</body>
