<ul class="nav nav-tabs game-settings">
	<li class="nav-item" *ngFor="let tab of tabs">
	  <a class="nav-link" [class.active]="currentTab === tab.id" (click)="currentTab = tab.id">{{ tab.name }}</a>
	</li>
</ul>
  
<div class="tab-content clearfix">
	<div class="tab-pane" *ngFor="let tab of tabs" [class.active]="currentTab === tab.id">
	  <h3>{{ tab.title }}</h3>
	  <app-color-wheel (colorSelected)="onColorSelected($event, tab.colorIndex)" [previewColor]="selectedColors[tab.colorIndex]"></app-color-wheel>
	</div>
</div>