<script src="../start-timer/start-timer.component.ts"></script>
<section class="game-container">
  <app-loading-spinner *ngIf="!dataLoaded"></app-loading-spinner>
  <section class="game-area" [class.hidden]="!dataLoaded || isWaiting">
    <section class="game" [style]="{'--game-width': gameWidth + 'px', '--game-height': gameHeight + 'px'}">
      <div class="dotted-line" [style]="{'--line-thickness': lineThickness + 'px'}"></div>
      <section class="score-display">
        <div class="score-player1">{{ player1Score }}</div>
        <div class="score-player2">{{ player2Score }}</div>
      </section>
      <app-ball [ballColor]="gameboardColors[constants.BALL_COLOR]"></app-ball>
      <app-paddle [id]="1" [paddleColor]="gameboardColors[constants.PADDLE_COLOR]"></app-paddle>
      <app-paddle [id]="2" [paddleColor]="gameboardColors[constants.PADDLE_COLOR]"></app-paddle>
    </section>
    <section *ngIf="paddles && paddles.first && paddles.last" class="players">
      <div class="player-name player1">{{ paddles.first.playerName }}</div>
      <div class="player-name player2">{{ paddles.last.playerName }}</div>
    </section>
  </section>
  <section class="remote-section" *ngIf="dataLoaded && isWaiting && isRemote">
    <h4>
      Share this code with your friends!
    </h4>
    <section class="share-code">
      <h5>
        {{ channelID }}
      </h5>
      <app-copy-button [textToCopy]="channelID"></app-copy-button>
    </section>
    <h4>
      Waiting for players to join... <br><br>
      {{ activePlayers.length }} / {{ maxPlayers }}
    </h4>
    <ul class="waiting-players">
      <li *ngFor="let player of activePlayers">
        <app-player-icon [playerName]="player"></app-player-icon>
      </li>
    </ul>
  </section>
</section>
<app-start-timer></app-start-timer>
<app-gameover></app-gameover>
