<app-loading-spinner *ngIf="!dataLoaded"></app-loading-spinner>
<section class="game-container" [class.hidden]="!dataLoaded">
  <section class="game" [style]="{'--game-width': gameWidth + 'px', '--game-height': gameHeight + 'px'}">
    <div class="dotted-line" [style]="{'--line-thickness': lineThickness + 'px'}"></div>
    <section class="score-display">
      <div class="score-player1">{{ player1Score }}</div>
      <div class="score-player2">{{ player2Score }}</div>
    </section>
    <app-ball></app-ball>
    <app-paddle [id]="1"></app-paddle>
    <app-paddle [id]="2"></app-paddle>
  </section>
</section>
<app-gameover></app-gameover>
