.test-status {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translateY(-25%);
}

.window-error-message {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  min-height: 20px;
  margin-left: 10px;
  font-size: 0.8em;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  white-space: nowrap; /* Prevents the text from wrapping */
  transition: opacity 0.3s; /* Smooth transition */
}

.window-error-message:hover {
  opacity: 1; /* Show the error message on hover */
  background-color: #0056b3; /* Darker shade for hover effect */
}
