body {
  background-image: url("../../../assets/app-themes/game-background.gif");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

a {
  font-size: 2em;
  position: absolute;
  top: 50vh;
}
