body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 90vh;
  overflow: scroll;
  gap: 10em;
}

.home-page-container::-webkit-scrollbar {
  display: none;
}

.buttons {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  top: 40vh;
}

h4 {
  font-size: 2em;
  top: 25vh;
  color: white;
  padding-top: 15%;
}

app-leaderboard {
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5vh;
}

app-game-summary-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 65%;
}

