<body>
  <app-header></app-header>
  <section class="home-page-container">
    <h4>{{welcome}}</h4>
    <section class="buttons">
      <app-button-with-icon
        [title]="'Play local'"
        [link]="'/local'"
        [icon]="'computer'">
      </app-button-with-icon>
      <app-button-with-icon
        [title]="'Play online'"
        [link]="'/online'"
        [icon]="'public'">
      </app-button-with-icon>
    </section>
    <app-game-summary-list [userID]="userID"></app-game-summary-list>
    <app-leaderboard></app-leaderboard>
  </section>
</body>
