<div class="background">
  <div class="signin-header">
    <h1>Transcendence</h1>
  </div>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <input id="login" formControlName="login" class="form-control" placeholder="Username or email">
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
    <button type="submit" [disabled]="!signInForm.valid" [class.hover-effect]="signInForm.valid" [class.disabled-button]="!signInForm.valid">Sign In</button>
    <a class="sign-up-message" routerLink="/sign-up">
      Don't have an account?<br>
      Sign up here.
    </a>
    <div class="error-message-container">
      <app-error-message [condition]="hasAuthenticationFailed()" [message]="errorMessage"></app-error-message>
    </div>
  </form>
</div>
