<body>
  <button *ngIf="canGiveUp" (click)="confirmGiveUp()">Give up</button>
  <section class="game-container">
    <app-game *ngIf="isRemote != null" [isRemote]="isRemote"></app-game>
    <section class="remote-section" *ngIf="hasLoaded && gameComponent.first.dataLoaded && gameComponent.first.isWaiting && isRemote">
      <h4>
        Share this code with your friends!
      </h4>
      <section class="share-code">
        <h5>
          {{ gameComponent.first.channelID }}
        </h5>
        <app-copy-button [textToCopy]="gameComponent.first.channelID"></app-copy-button>
      </section>
      <h4>
        Waiting for players to join... <br><br>
        {{ gameComponent.first.activePlayers.length }} / {{ gameComponent.first.maxPlayers }}
      </h4>
      <ul class="waiting-players">
        <li *ngFor="let player of gameComponent.first.activePlayers">
          <app-player-icon [playerName]="player"></app-player-icon>
        </li>
      </ul>
    </section>
  </section>
</body>
