<body>
  <button *ngIf="canGiveUp" (click)="confirmGiveUp()">Give up</button>
  <app-game [arenaID]="arenaID!"></app-game>
  <section class="remote-section"
           *ngIf="(gameStateService.dataLoaded$ | async)
           && (gameStateService.isWaiting$ | async)
           && (gameStateService.isRemote$ | async)
           && (gameStateService.isRematch$ | async)">
    <h4>
      Share this code with your friends!
    </h4>
    <section class="share-code">
      <h5>
        {{ (gameStateService.channelID$ | async) }}
      </h5>
      <app-copy-button [textToCopy]="(gameStateService.channelID$ | async)!"></app-copy-button>
    </section>
    <h4>
      Waiting for players to join... <br><br>
      {{ (gameStateService.activePlayers$ | async)?.length}} / {{ (gameStateService.maxPlayers$ | async) }}
    </h4>
    <ul class="waiting-players">
      <li *ngFor="let player of (gameStateService.activePlayers$ | async)">
        <app-player-icon [playerName]="player"></app-player-icon>
      </li>
    </ul>
  </section>
</body>
