body {
  background-image: url("../../../assets/app-themes/game-background.gif");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2b669a;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaaaaa;
  scale: 120%;
  padding: 5px;
}

button {
  margin: 50px;
  position: absolute;
  top: 2%;
  left: 3%;
  background-color: rgb(255, 0, 0, 0.5);
  z-index: 1;
}
