body {
  background-image: url("../../../assets/app-themes/game-background.gif");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2b669a;
}

/*button {*/

/*  background-color: rgb(255, 0, 0, 0.5);*/
/*}*/

@keyframes charge {
  0% {
    background-size: 0 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/*button {*/
/*  background: linear-gradient(to right, #ff0000 50%, #aa0000 50%);*/
/*  background-size: 200% 100%;*/
/*  !*background-position: right bottom;*!*/
/*  transition: all 1s ease-out;*/
/*  overflow: hidden;*/
/*}*/


button.charging {
  animation: charge 5s linear forwards;
}

button {
  position: absolute;
  background-color: #ff0000;
  overflow: hidden;
  top: 2%;
  left: 3%;
  z-index: 1;
  margin: 50px;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #aa0000;
  transition: width 5s linear;
}

button.charging::after {
  width: 100%;
}
