body {
  background-image: url("../../../assets/app-themes/game-background.gif");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2b669a;
}

/*button {*/

/*  background-color: rgb(255, 0, 0, 0.5);*/
/*}*/
