form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  color:white;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.form-group input {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  font-size: 1.2em;

}
