.leaderboard-container {
  display: flex;
  align-items: center;
  position: static;
  top: 110vh;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  padding-top: 150vh;
}

.leaderboard {
  display: table;
  table-layout: fixed;
  width: 90vw;
  padding: 10px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  background-color: black;
  color: white;
  opacity: 0.80;
  padding-top: 100vh;
}
