<div class="leaderboard-container">
  <table class="leaderboard">
    <thead>
      <tr>
        <th scope="row" colspan="5"><h2>Leaderboard</h2></th>
      </tr>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col">Wins</th>
        <th scope="col">Losses</th>
        <th scope="col">Ratio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Chris</td>
        <td>22</td>
        <td>11</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Bob</td>
        <td>30</td>
        <td>20</td>
        <td>1.5</td>
      </tr><tr>
        <th scope="row">3</th>
        <td>Albert</td>
        <td>15</td>
        <td>10</td>
        <td>1.5</td>
      </tr><tr>
        <th scope="row">4</th>
        <td>John</td>
        <td>10</td>
        <td>40</td>
        <td>0.25</td>
      </tr>
    </tbody>
    <tfoot>
      <th scope="row">99</th>
      <td>You</td>
      <td>0</td>
      <td>400</td>
      <td>0</td>
    </tfoot>
  </table>
</div>
