.leaderboard-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5vh;
}

.leaderboard {
  display: table;
  table-layout: fixed;
  width: 90vw;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  background-color: black;
  color: white;
  opacity: 0.80;
}
