@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/custom-font.css';

:root {
  --blue-500: #007bff;
  --red-500: #ff1b00;
  --yellow-500: #ffc107;
  --green-500: #28a745;
  --blue-400: #006abb;
  --red-400: #bb1b00;
  --yellow-400: #e0a800;
  --green-400: #218838;
  --text-color: white;
}

body {
  background-image: url("assets/app-themes/game-background_light.gif");
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0;
  font-family: 'Bruce_Forever', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

h1 {
  color:white;
  font-family: 'Space_Quest', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  color:white;
  font-size: 1.5em;
}

.background {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
}

input {
  /* Example: Set a 2px solid border with a light gray color */
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #007bff; /* Change the background color on hover */
  color: white; /* Change the text color on hover */
  box-shadow: none;
  border: none;
}

a:not(.title) {
  display: inline-block;
  padding: 1% 2%;
  margin-top: 20px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.6em;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  animation: fade-in 1s ease-out;
  cursor: pointer;
}

a:hover:not(.title) {
  background-color: #0056b3; /* Darker shade for hover effect */
  transition: background-color 0.3s ease;
}

.hover-effect:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  transition: background-color 0.3s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px)
  }
  to {
    opacity: 1;
    transform: translateY(0px)
  }
}

.hidden {
  visibility: hidden;
}
