@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0;
}

h1 {
  color:white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  color:white;
  font-size: 1.5em;
}

.background {
  background-color: rgba(150, 150, 150, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
}

