<div class="avatar-container" >
  <section class="image-container"
           [ngStyle]="getBoxShadowStyle()">
    <img class="image-container"
         [src]="fileUrl"
         [attr.alt]="'User Avatar'"
         (error)="onImageError($event)"
    />
    <label *ngIf="modify" for="avatar-input-file">
      <section class="icon-wrapper">
        <input type="file" id="avatar-input-file" accept="image/jpeg" (change)="onFileChange($event)"/>
        <mat-icon class="icon">create</mat-icon>
      </section>
    </label>
  </section>
</div>
