<body>
<app-header></app-header>
<section class="friends-page-container" *ngIf="friendData$ | async as friendData">
  <section class="search-area">
    <app-friend-search></app-friend-search>
  </section>
  <section *ngIf="friendData.requests.length > 0" class="friend-list">
    <p>Friend requests</p>
    <section class="friend-requests-container">
      <app-request *ngFor="let friend of friendData.requests" [friendName]="friend" (accept)="acceptRequest($event)" class="request"></app-request>
    </section>
  </section>
  <section *ngIf="friendData.playing.length > 0" class="friend-list">
    <p>Playing</p>
    <section class="avatar-list">
      <app-avatar *ngFor="let friend of friendData.playing" [username]="friend"></app-avatar>
    </section>
  </section>
  <section *ngIf="friendData.online.length > 0" class="friend-list">
    <p>Online</p>
    <section class="avatar-list">
      <app-avatar *ngFor="let friend of friendData.online" [username]="friend"></app-avatar>
    </section>
  </section>
  <section *ngIf="friendData.offline.length > 0" class="friend-list">
    <p>Offline</p>
    <section class="avatar-list">
      <app-avatar *ngFor="let friend of friendData.playing" [username]="friend"></app-avatar>
    </section>  </section>
</section>
</body>
