<div class="login-background">
    <div class="auth-avatar">
      <img src="../../../../assets/logo.png" alt="pong ball" class="pong-image">
    </div>
    <h1>Create account</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username: </label>
          <input type="text" formControlName="username" class="form-control" placeholder="Username">
          <app-username-error [control]="signupForm.controls.username"></app-username-error>
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" formControlName="email" class="form-control" placeholder="Email">
          <app-email-error [control]="signupForm.controls.email"></app-email-error>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" formControlName="password" class="form-control" placeholder="********">
          <app-password-error [control]="signupForm.controls.password"></app-password-error>
        </div>
        <div class="form-group">
          <label for="c_password">Confirm Password: </label>
          <input type="password" formControlName="c_password" class="form-control" placeholder="********">
          <app-c-password-error [control]="signupForm.controls.c_password"></app-c-password-error>
        </div>
        <button type="submit" [disabled]="!signupForm.valid" [class.hover-effect]="signupForm.valid" [class.disabled-button]="!signupForm.valid">Sign Up!</button>
        <a class="sign-in-message" routerLink="/sign-in">Already have an account? Sign in</a>
    </form>
</div>
