.login-background {
    background-color: rgba(150, 150, 150, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    color:white;
    font-size: 1.5em;
}
.form-group {
    position:relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-error-container {
    position: relative;
    display: flex;
    align-items: center; /* This ensures the input and error message are vertically aligned */
    width: 100%;
}
.form-control {
    flex: 0 0 auto; /* This prevents the input field from growing or shrinking */
    width: calc(100% - 120px); /* Adjust the width as needed, subtracting the space for the error message */
}
.pong-image{
    height: 70px;
}
.auth-avatar{
    text-align: center;
    margin-top: -50px;
}
.form-group input {
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-size: 1em;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #007bff; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
    box-shadow: none;
    border: none;
}
.disabled-button {
    background-color: #ccc; /* Light grey background */
    color: #666; /* Darker grey text */
    cursor: not-allowed; /* Cursor style to indicate not clickable */
}
.hover-effect:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    transition: background-color 0.3s ease;
}
.sign-in-message {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    font-size: 0.6em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-out;
}
.sign-in-message:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px)
    }
    to {
      opacity: 1;
      transform: translateY(0px)
    }
}