<section class="game-container">
  <section class="game" [style]="{'--game-width': gameWidth + 'px', '--game-height': gameHeight + 'px'}">
    <div class="dotted-line" [style]="{'--line-thickness': lineThickness + 'px'}"></div>
    <section class="score-display">
      <div class="score-player1">0</div>
      <div class="score-player2">0</div>
    </section>
    <div class="paddle paddle-left"></div>
    <div class="paddle paddle-right"></div>
    <div class="ball"></div>
  </section>
</section>

