.game {
  position: relative;
  border-radius: 4px;
  background-color: #000;
  width: var(--game-width);
  height: var(--game-height);
  display: flex;
  justify-content: flex-start;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: relative;
}

.game-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-display {
  position: absolute;
  color: rgba(220, 220, 220, 0.5);
  font-size: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
}

.score-player1, .score-player2 {
  width: 50%;
  text-align: center;
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.dotted-line {
  position: absolute;
  height: var(--game-height);
  width: var(--line-thickness);
  left: calc(50% - var(--line-thickness) / 2);
  background: linear-gradient(to bottom, #aaaaaa 60%, transparent 10%);
  background-size: 100% 40px;
}

.remote-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0, -80%);
  gap: 3em;
}

h4 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: #e1e1e1;
  font-size: 2em;
}

.share-code {
  top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e1e1e1;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

app-copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  scale: 1.5;
  height: 100%;
}

.waiting-players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 2em;
  width: 100%;
  top: 40vh;
  padding: 0;
}

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.players app-avatar {
  display: flex;
  justify-content: center;
}

.player-name {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.player1, .player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player1 {
  position: absolute;
  left: -20%;
}

.player2 {
  position: absolute;
  right: -20%;
}

.player-avatar {
  transform: scale(0.5);
  margin-bottom: -0.5em;
}
