<script src="../start-timer/start-timer.component.ts"></script>
<section class="game-container">
  <app-loading-spinner *ngIf="!(gameStateService.dataLoaded$ | async)"></app-loading-spinner>
  <section class="game-area" [class.hidden]="!(gameStateService.dataLoaded$ | async) || (gameStateService.isWaiting$ | async)">
    <section class="game" [style]="{'--game-width': gameWidth + 'px', '--game-height': gameHeight + 'px'}">
      <div class="dotted-line" [style]="{'--line-thickness': lineThickness + 'px'}"></div>
      <section class="score-display">
        <div class="score-player1">{{ player1Score }}</div>
        <div class="score-player2">{{ player2Score }}</div>
      </section>
      <app-ball></app-ball>
      <app-paddle [id]="1"></app-paddle>
      <app-paddle [id]="2"></app-paddle>
    </section>
    <section *ngIf="paddles && paddles.first && paddles.last" class="players">
      <div class="player1">
        <app-avatar class="player-avatar"></app-avatar>
        <label class="player-name">{{ paddles.first.playerName }}</label>
      </div>
      <div class="player2">
        <app-avatar class="player-avatar"></app-avatar>
        <label class="player-name">{{ paddles.last.playerName }}</label>
      </div>
    </section>
  </section>
</section>
<app-start-timer></app-start-timer>
<app-gameover></app-gameover>
