.oauth42-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.oauth42-button img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.oauth42-button span {
  font-size: 1.5em;
}
